<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
            integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <link rel="stylesheet" href="../styles/index.css">
        <title>Document</title>
    </head>
    <body class="prod-cat-body">
        <div class="controls">
            <div class="add-container">
                <div class="add-product">Add Product</div>
                <div>
                    <input type="text" placeholder="Search">
                </div>
            </div>
        </div>
        <div>
            <form action="" id="add-product-form" class="toggle">
                <div class="image-container">
                    <img src="../assets/blank-profile.webp" alt="" id="productImgDsiplay">
                    <label for="productImg"><i class="fa-solid fa-camera"></i></label>
                    <input type="file" name="productImg" id="productImg" class="d-none">
                </div>
                <div>
                    <label for="name">Product Name</label>
                    <input type="text" name="" id="name" placeholder="Name">
                </div>
                <div>
                    <label for="price">Product Price</label>
                    <input type="text" name="" id="price" placeholder="Price">
                </div>
                <div>
                    <label for="inventory">Product Inventory Status</label>
                    <select name="inventory" id="inventory">
                        <option value="In Stock">In Stock</option>
                        <option value="Out of Stock">Out of Stock</option>
                    </select>
                </div>
                <div>
                    <label for="product-category">Product Category</label>
                    <select name="category" id="product-category">
                    </select>
                </div>
                <div>
                    <input type="submit" name="" id="">
                </div>
                <div class="d-none" update>
                    update
                </div>
            </form>
        </div>
        <div class="subview prod-cat-container">
        </div>

        <script src="../scripts/app.js"></script>
    </body>
</html>