<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
            integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../styles/app.css">
        <title>Document</title>
    </head>
    <body class="products-page">
        <nav>
            <div>
                <a href="./views/products.html">All Products</a>
                <a href="./views/profile.html">My Profile</a>
            </div>
            <div logout>
                Logout
            </div>
        </nav>
        <div class="header">
            <div>
                <div>
                    Filter By Category
                </div>
            </div>
            <div>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="container">
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../assets/blank-profile.webp" alt="">
                    </div>
                    <div class="product-details">
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <div class="name">
                            cattoys
                        </div>
                        <div class="price">
                            price: $399.99
                        </div>
                        <div class="inventory">
                            In Stock
                        </div>
                        <div class="category">
                            Category: CATSSS YAAYY OMG
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../assets/blank-profile.webp" alt="">
                    </div>
                    <div class="product-details">
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <div class="name">
                            cattoys
                        </div>
                        <div class="price">
                            price: $399.99
                        </div>
                        <div class="inventory">
                            In Stock
                        </div>
                        <div class="category">
                            Category: CATSSS YAAYY OMG
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-image">
                        <img src="../assets/blank-profile.webp" alt="">
                    </div>
                    <div class="product-details">
                        <i class="fa-regular fa-heart" style="color: red;"></i>
                        <div class="name">
                            cattoys
                        </div>
                        <div class="price">
                            price: $399.99
                        </div>
                        <div class="inventory">
                            In Stock
                        </div>
                        <div class="category">
                            Category: CATSSS YAAYY OMG
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../scripts/app2.js"></script>
    </body>
</html>