<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
            integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="../styles/app.css">
        <title>Document</title>
    </head>
    <body class="products-page">
        <nav>
            <div>
                <a href="http://localhost/Good_Buy/frontend-user/views/products.html">All Products</a>
                <a href="http://localhost/Good_Buy/frontend-user/views/profile.html">My Profile</a>
            </div>
            <div logout>
                Logout
            </div>
        </nav>
        <div class="user-head">
            <div class="user-img">
                <img src="../assets/blank-profile.webp" alt="" id="userImgDsiplay">
                <label for="userImg"><i class="fa-solid fa-camera"></i></label>
                <input type="file" name="userImg" id="userImg" class="d-none">
            </div>
            <div class="user-info">
                <div>
                    First Name: <span first_name></span>
                    <input type="text" name="" id="name" class="d-none">
                </div>
                <div>
                    Last Name: <span last_name></span>
                    <input type="text" name="" id="last" class="d-none">
                </div>
                <div>
                    Email: <span email></span>
                    <input type="text" name="" id="email" class="d-none">
                </div>
                <div>
                    Phone: <span phone></span>
                    <input type="text" name="" id="phone" class="d-none">
                </div>
                <div>
                    City: <span city></span>
                    <select name="" id="city" class="d-none"></select>
                </div>
                <div>
                    <button one>
                        Edit
                    </button>
                    <button two class="d-none">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="favourites">
            <h1>Favourites</h1>
        </div>
        <div class="container"></div>
        <script src="../scripts/app2.js"></script>
        <script src="../scripts/profile.js"></script>
    </body>
</html>